@* model CinemaTicketsDomain.DomainModels.Order *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Details"; *@
@*     Layout = "~/Views/Shared/_Layout.cshtml"; *@
@* } *@
@* *@
@* <h1>Details</h1> *@
@* *@
@* <div> *@
@*     <h4>Order</h4> *@
@*     <hr /> *@
@*     <dl class="row"> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.TimeCreated) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.TimeCreated) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.CustomUser) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.CustomUser.Id) *@
@*         </dd> *@
@*     </dl> *@
@* </div> *@
@* $1$ <div> #1# *@
@* $1$     <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | #1# *@
@* $1$     <a asp-action="Index">Back to List</a> #1# *@
@* $1$ </div> #1# *@
